* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #ecf0f1;
  font-family: sans-serif;
  margin: 0 auto;
}

p {
  color: #524c56;
  font-size: 160%;
  line-height: 155%;
  padding: 3%;
  text-indent: 2%;
  text-align: justify;
}

h3 {
  font-size: 175%;
  line-height: 155%;
  font-weight: 500;
  color: #524c56;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

a {
  color: #524c56;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #c3d7df;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#banner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 3% 0;
}

header {
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
}

header #logo img{
  margin: 20px;
  float: left;
  width: 50px;
}

.cabecera h1{
  text-align: left;
  padding: 30px;
}

/* NAVEGACION */
nav {
  float: right;
  padding: 25px 20px 0px 0px;
}

#menu-icon {
  display: none;
  font-size: 50px;
}

ul {
  list-style: none;
}

nav ul li {
  font-size: 150%;
  display: inline-block;
  padding: 10px;
}

nav ul li a {
  color: #6991AC;
}

.current {
  color: #3F5767;
}

a:hover {
  color: #a5bdcd;
}

.slider {
  max-width: 1200px;
  }

.slider img {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.one-third {
  width: 31.5%;
  float: left;
  padding: 10px;
  text-align: center;
}

.icon-wrap {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  background-color: #6991ac;
  border-radius: 125px;
  text-align: center;
  margin-top: 3%;
}

.icon-wrap i {
  text-align: center;
  color: #ffffff;
  font-size: 450%;
  padding: 20%;
}

/* SECTION 2*/
.left-col {
  float: left;
  margin: 0 auto;
  width: 60%;
  height: auto;
  padding: 1%;
}

.sidebar {
  float: right;
  margin: 0 auto;
  width: 32%;
  height: auto;
  padding: 1%;
}

/* ONE THIRD PADDING*/
.one-third-padding {
  width: 29%;
  float: left;
  margin: 2% 2%;
}

.clearfix-padding {
  clear: both;
  padding: 2%;
}

footer {
  background: #2c3e50;
  width: 100%;
  overflow: auto;
}
.icon-text {
  width: 100%;
  margin: 0 auto;
}

.icon-text-icon {
  float: left;
  width: 20%;
  padding: 4%;
}
.icon-text-text {
  float: left;
  width: 60%;
  padding: 4% 4% 2% 0;
  /*font-size:*/
}

.footer-nav {
  text-align: right;
}

.footer-nav a {
  font-size: 160%;
  color: #c3d7df;
  font-weight: 300;
}

.footer-nav a:hover {
  color: #f5f5f5;
}

.social {
  list-style-type: none;
  text-align: center;
}

.social li {
  display: inline;
}

.social i {
  font-size: 420%;
  margin: 1%;
  padding: 5%;
  color: #c3d7df;
}

.social i:hover {
  color: #f5f5f5;
}

table{
  border: 1px solid #000;
  border-collapse: collapse; 
  width: 100%; 
}

table td {
  border: 1px solid #000;
  padding: 5px;
}

table tr:hover {
  background: #ccc;
}

h2{
  text-align: center;
  padding: 20px;
}

form{
  width: 25%;
  border:1px solid #ccc;
  margin: 20px;
  padding: 20px;
}

label {
  font-size: 12px;
  display: block;
  width: 100%;
}

textarea {
  resize: vertical;
  max-height: 300px;
  min-height: 100px;

}

input, textarea {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;

}

input:focus, textarea:focus {
  border: 1px solid #1668C4;
}

input[type="submit"] {
  margin-bottom: 0;
  background: #1668C4;
  color: #ffffff;
  border: none;
}

input[type="submit"]:hover{
  background: #4A88F4;
  cursor: pointer;
}




